<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Correspondence System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</head>
<body>

    <div class="container-fluid">
        <!--Header Area-->
        <div class="row headerArea">
            <div class="col-md-6" style="padding:0;">
                <div class="logo"><img src="~/Content/img/logo.svg"></div>
            </div>

            <div class="col-md-6 iconArea" style="padding:0;">
                <div class="icon"><img src="~/Content/img/search.svg" data-toggle="modal" data-target="#search"></div>
                <div class="usericon"><p>HE</p></div>
                <div class="icon"><a onclick="notify_open()"><img src="~/Content/Img/notify.svg"></a></div>
                <div class="icon"><img src="~/Content/img/switch.svg"></div>
            </div>
        </div>

        <!--Notification Area-->
        <div class="notificationArea" id="notification" style="display:none">
            <p>Notifications <a onclick="notify_close()">&times;</a></p>
            <hr>
        </div>

        <!--Navigation Links-->
        <div class="row navArea">
            <div class="col-md-12">
                <div class="navLinks">
                    @*<button class="mainNav new">New</button>*@
                    @Html.ActionLink("Create", "New", "Home", null, new { @class = "mainNav new newactive" }) 
                    <button class="mainNav all allactive">All Correspondence</button>
                    <button class="mainNav process">In Process</button>
                    <button class="mainNav delayed">Delayed</button>
                    <button class="mainNav completed">Completed</button>
                </div>
            </div>
        </div>
         
            @RenderBody()
             
        					
</div>
<!--Search Modal-->

<div class="modal fade" id="search"
         aria-hidden="true">
        <div class="modal-dialog full" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="~/Content/img/logo.svg" class="searchdoflogo">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body searchbg">
                    <div class="input-group searchbox">
                        <input type="search" class="form-control searchmodal" placeholder="Type to Search" aria-label="Search" aria-describedby="search-addon" />
                        <button type="button" class="btn btn-outline-primary" onclick="window.location.href='SearchPage.html'">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
function notify_open() {
  document.getElementById("notification").style.width = "400px";
  document.getElementById("notification").style.display = "block";
}

function notify_close() {
  document.getElementById("notification").style.display = "none";
}
</script>

        
</body>
</html>
